@tailwind base;
@tailwind components;
@tailwind utilities;

.rotateIcon {
  @apply transform hover:-rotate-180
        transition duration-150 ease-in-out;
}
.displayForm {
  @apply border rounded-sm transform scale-0 group-hover:scale-100 absolute 
  transition duration-150 ease-in-out origin-top;
}
